<div class="convinced-container hero">
 <div class="convinced-content hero-content">
   <div class="element-container hero-text">
      <h1>Convaincu?</h1>
      <p>N’attend plus un seconde et profite dès maintenant de FitFeat !</p>
   </div>
   <div class="linear-background linear-layer"></div>
   <div class="button-container">
     <div class="button"><%= button_to 'Se connecter', new_user_session_path, class: 'button primary'%></div>
      <div class="button"><%= button_to 'Sign Up', new_user_registration_path, class: 'button primary'%></div>
   </div>
 </div> 
</div>