<div class="convinced-container hero">
    <div class="convinced-content hero-content">
      <div class="element-container">
          <h1>Convaincu?</h1>
          <p>N’attend plus une seconde et profite dès maintenant de FitFeat !</p>
      </div>
      <div class="linear-background"></div>
      <div class="button-row">
          <%= link_to 'Se connecter', new_user_session_path, class: 'button primary'%>
          <%= link_to 'Créer un compte', new_user_registration_path, class: 'button primary'%>
      </div>
    </div> 
</div>