<div id="navigation-contact" class="contact-wrapper">
    <div class="title-container">
      <div class="twins">
         <h3 class="title"> Contact </h3>
         <div class= "title-lign"></div>
      </div>   
         <p class="para"> Contactez-nous pour avoir des informations ou nous donner votre avis</p>
         <div class="title-underline"> </div>
    </div>

   <div class="element-contain">
   
      <div class="container-left">
         <div class="img-left"></div>
      </div>

      <div class="container-right">
      <%= form_tag(team_index_path, :method => "post") do %>
    <div class="input">
      <p class="input-name">Email</p>
      <div class="input-wrapper">
      <%= email_field_tag :contact_email, params[:contact_email], placeholder: "Ton email" %>
      <i class="fa-solid fa-envelope"></i>
      </div>
    </div>

    <div class="input">
      <p class="input-name">Message</p>
      <div class="input-wrapper">
         <%= text_field_tag :contact_message, params[:contact_message], placeholder: "Ton message" %>
         <i class="fa-solid fa-comment"></i>
      </div>
    </div>

    <div class="input">
      <div class="action">
      </div>
    </div>
    <%= submit_tag "Envoyer", :name => nil , :class =>"button primary"%>
    <% end %>
    

      </div>
   </div>  
</div>