<div class="features-wrapper">
    <div class="title-container">
      <div class="twins">
         <h3 class="title"> Contact </h3>
         <div class= "title-lign"></div>
      </div>   
         <p class="para"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
         <div class="title-underline"> </div>
    </div>

   <div class="element-contain">
      <div class="container-left">
         <div class="img-left"></div>
      </div>

      <div class="container-right">
      <form>
    <div class="input">
      <p class="input-name">Email</p>
      <div class="input-wrapper">
      <input type="email" placeholder="Email Address" />
      <i class="fa-solid fa-envelope"></i>
      </div>
    </div>

    <div class="input">
      <p class="input-name">Message</p>
      <div class="input-wrapper">
         <textarea type="text" placeholder="Message"></textarea>
         <i class="fa-solid fa-comment"></i>
      </div>
    </div>

    <div class="input">
      <div class="action">
      <button class="button primary" type="submit">Envoyer</button>
      </div>
    </div>
         </form>
      </div>
   </div>  
</div>