
<div class="footer-lp align-content-start">
  
  <div class="justify-content-start">
  <h1>FitFeat</h1>  
  </div>
  <div class="cowl">
    <h3>Liens utiles</h3>
    <ul>
      <li class="footer-item">
       <a href="#navigation-features"> Features </a>
        <%= link_to "Features", home_path(anchor: "navigation-features") %>
      </li>
      <li class="footer-item">
     <%= link_to "Sports", home_path(anchor: "navigation-sports") %>
      </li>
      <li class="footer-item">
       <%= link_to "Témoignages", home_path(anchor: "navigation-testimonies") %>
      </li>
    </ul>
  </div>

  <div class="cowl">
    <h3>Nous contacter</h3>
    <ul>
      <li>20 rue de Londres, Paris 75000</li>
      <li>073476234</li>
      <li>contact@fitfeat.com</li>
    </ul>
  </div>