
<div class="footer-lp">
  <div class="contain-lp">
  <div class="cowl">
    <h1 class="title-alone">FitFeat</h1>
    
  </div>

  <div class="cowl">
    <h3>Liens utiles</h3>
    <ul>
      <li>Features</li>
      <li>Sports</li>
      <li>Témoignages</li>
      <hr>
      <li>Contact</li>
    </ul>
  </div>

  <div class="cowl">
    <h3>Nous contacter</h3>
    <ul>
      <li>20 rue de Londres, Paris 75000</li>
      <li>073476234</li>
      <li>contact@fitfeat.com</li>
      <hr>
    </ul>
  </div>