<div class="navigation-wrapper">
   <div class="logo">
      FITFEAT
   </div>
   <div class="navigation-list">
      <ul>
         <li> Features </li>
         <li> Sports </li>
         <li> Témoignages </li>
         <li> Contact</li>
      </ul>
   </div>
   <div class="button-row" >
      <%= link_to 'Se connecter', new_user_session_path, class: 'button primary'%>
      <%= link_to 'Créer un compte', new_user_registration_path, class: 'button primary'%>
   </div>
</div>