<div class="navigation-wrapper">
   <div class="logo">
      FITFEAT
   </div>
   <div class="navigation-list">
      <ul>
         <a href="#navigation-features"> Features </a>
         <a href="#navigation-sports"> Sports </a>
         <a href="#navigation-testimonies"> Témoignages </a>
         <a href="#navigation-contact"> Contact </a>
      </ul>
   </div>
   <div class="button-row" >
      <%= link_to 'Se connecter', new_user_session_path, class: 'button primary'%>
      <%= link_to 'Créer un compte', new_user_registration_path, class: 'button primary'%>
   </div>
</div>