<div class='card container-friends-list'>
  <p class="card-title"> Tes Amis </p>
  <p class="card-icon"> <i class="fa-solid fa-user"></i> </p>
  <div class="friends-list">
    <ul>
      <% if current_user.friends.length == 0%>
        <p>Tu n'as pas encore d'amis, ajoute des suggestions ! </p>
      <%else%>
        <% current_user.friends.each do |friend|%>
          <li>
              <div class="d-flex gap-2">
                <div class="ml-2 mr-2">
                  <%if friend.avatar.attached?%>
                    <%= image_tag friend.avatar, alt: 'avatar', :class => "events-avatar" %>
                  <%else%>
                      <%= image_tag "defaultavatar.png", alt: 'avatar', :class => "events-avatar" %>
                  <%end%>
                </div>
              <%= link_to friend.full_name, controller: "users", action: "show", id: friend.id, style: "user-link" %>
            </div>
          </li>
        <%end%>
      <%end%>
    </ul>
  </div>
</div>
