<div class='card container-suggestions-list'>
   <p class="card-title"> Suggestion d'amis </p>
   <p class="card-icon"> <i class="fa-solid fa-bell"></i> </p> 
<div class="suggestions-list">
  <ul>
    <% current_user.suggestions.each do |suggestion|%>
    <li>
      <%if suggestion.refused.nil? %>
        <%=link_to suggestion.partner.full_name , user_path(suggestion.partner) %>
        <%if suggestion.accepted %>
            En attente de validation de l'autre côté
          <%else%>
            <%=link_to "Accepter", suggestion_path(suggestion, answer: "accepted"), method: :patch %>
            <%=link_to "Refuser", suggestion_path(suggestion, answer: "refused"), method: :patch %>
          <%end%>
      </li>
      <%end%>
    <%end%>
  </ul>
</div>
</div>