 <div class="top-element">
        <div class="twins">
          <h1 class="title">Create your account</h1>
          <div class ="modif-lign title-lign"> </div>
        </div>
        <p class="under-title">Connecte toi à ton compte pour voir tes amis et tes performances sportives</p>
      </div>