<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>On t'a trouvé un partenaire pour faire du sport !</h1>
    <p>
      Un utilisateur vient de t'ajouter sur Fit Feat!
    </p>
    <p>
      Connecte-toi vite pour voir tes suggestions : <a href="<%= @url %>"><%= @url %></a>
    </p>
    <p>
        
    </p>
    <p> À très vite sur Fit Feat.com !
  </body>
</html>