<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut et bienvenue chez nous !</h1>
    <p>
      Tu viens de t'inscrire sur Fit Feat et nous t'en félicitons!
    </p>
    <p>
     <!-- Pour accéder à ton espace client, connecte-toi via : <a href="<%= @url %>"><%= @url %></a> -->
      <%= link_to "Pour accéder à ton espace client, connecte-toi via :", new_user_session_url %>

    </p>
    <p>
      Ton identifiant: <%= @user.email %>
    </p>
    <p> À très vite sur Fit Feat.com !
  </body>
</html>