    /************************/
   /* 	    BUTTON       */
   /************************/
   .button{
      padding: 10px 16px;
      border-radius: 7px;
      font-size: 1rem;
      border-style: none;
      color: rgb(var(--white));
      cursor: pointer;
      font-family: var(--medium-font);

      &:hover{
         color: rgb(var(--white)) !important; 
      }
   }
   
   .primary{
      background-color: rgb(var(--purple));
      color: rgb(var(--white));
   }
   .primary:hover{
      background-color: rgba(var(--purple), 0.8);
   }

   
   .secondary{
      padding: 7px 12px !important;
      background-color: rgb(var(--green));
   }
   .secondary:hover{
      padding: 7px 12px !important;
      background-color: rgba(var(--green), 0.8);
   }

   .delete-btn{
      background-color: rgb(var(--warning));
   }

   .refuse-btn{
      background-color: var(--grey-bg);
      color: black
   }

   .refuse-btn:hover{
      background-color: rgb(214, 214, 214);
      color: black !important
   }

   // SPACING
   .button-row{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
   }