// CHAMPS INPUT

.input {
   margin-bottom: 20px;

   .input-name{
      margin-bottom: 0.5rem;
      font-size: 1.2rem;

      span{
         font-size: 0.8rem;
      }

   }

   .input-wrapper{
      position: relative;
      width: fit-content;
      height: fit-content;

      input[type=number], select{
         width: 225px !important;
      }


      input[type=text], input[type=password], input[type=email], input[type=number], select {
         width: 450px;
         border: 1px solid var(--border-grey);
         border-radius: 5px;
         padding: 20px 0px;
         padding-left: 15px;
         transition: all 0.3s ease;

         @media screen and (max-width: 1500px) {
            width: 400px;
            padding: 18px 0px;
            padding-left: 15px;
         }
   
   
         &::placeholder{
            font-size: 0.8rem;
            color: var(--border-grey);
            font-family: var(--regular-font);
         }  
         
      }

      i{
         position: absolute;
         top: 40%;
         right: 10px;
         color: var(--border-grey);

      }
   }

   input[type=submit]{
      padding: 10px 16px;
      border-radius: 7px;
      font-size: 1rem;
      border-style: none;
      color: rgb(var(--white));
      background-color: rgb(var(--purple));
      cursor: pointer;
      font-family: var(--medium-font);

      &:hover{
         background-color: rgba(var(--purple), 0.8);
      }
   }

}

input[type=checkbox]{
   cursor: pointer;
}




