// CHAMPS INPUT

.input {
   margin-bottom: 20px;

   .input-name{
      margin-bottom: 0.4rem;
      font-size: 1rem;

      span{
         font-size: 0.8rem;
      }

   }

   .input-wrapper{
      position: relative;
      width: fit-content;
      height: fit-content;

      input[type=number], select{
         width: 160px !important;
      }


      input[type=text], input[type=password], input[type=email], textarea[type=text], textarea, select {
         width: 370px;
         border: 1px solid var(--border-grey);
         border-radius: 5px;
         padding: 15px 0px;
         padding-left: 15px;
         transition: all 0.3s ease;
         resize: none;
   
   
         &::placeholder{
            font-size: 0.8rem;
            color: var(--border-grey);
            font-family: var(--regular-font);
         }  
         
      }

      i{
         position: absolute;
         top: 40%;
         right: 10px;
         color: var(--border-grey);

      }
   }

   input[type=submit]{
      padding: 9px 15px;
      border-radius: 7px;
      font-size: 0.9rem;
      border-style: none;
      color: rgb(var(--white));
      background-color: rgb(var(--purple));
      cursor: pointer;
      font-family: var(--medium-font);

      &:hover{
         background-color: rgba(var(--purple), 0.8);
      }
   }

}

input[type=checkbox]{
   cursor: pointer;
}

input[type=number], input[type=datetime-local]{

   border: 1px solid var(--border-grey);
   border-radius: 5px;
   padding: 12px 0px;
   padding-left: 20px;
   transition: all 0.3s ease;
   resize: none;

}

.message-area{
   @media screen and (max-width: 1270px) {
      width:500px !important;
   }
   @media screen and (max-width: 1270px) {
      width:400px !important;
   }
   @media screen and (max-width: 980px) {
      width:200px !important;
   }
}