// CHAMPS INPUT

.input {

   .input-name{
      margin-bottom: 0.5rem;
      font-size: 1.2rem;

   }

   .input-wrapper{
      position: relative;
      width: fit-content;
      height: fit-content;
      

      input[type=text], input[type=password], input[type=email] {
         width: 450px;
         border: 1px solid var(--border-grey);
         border-radius: 5px;
         padding: 24px 0px;
         padding-left: 15px;
   
   
         &::placeholder{
            font-size: 0.8rem;
            color: var(--border-grey);
            font-family: var(--regular-font);
         }  
         
      }

      i{
         position: absolute;
         top: 40%;
         right: 10px;
         color: var(--border-grey);

      }
   }

   input[type=submit]{
      padding: 10px 16px;
      border-radius: 7px;
      font-size: 1rem;
      border-style: none;
      color: rgb(var(--white));
      background-color: rgb(var(--purple));
      cursor: pointer;
      font-family: var(--medium-font);
   }

}




