#map {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

#map-event {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

.marker {
  background-image: url("pointer.png");
  background-size: cover;
  width: 30px;
  height: 53px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  padding: 20px 25px 20px 15px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-content h2 {
  font-size: 1.1rem;
  font-family: var(--black-font);
}

.wrapper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  margin-left: 7%;
  margin-top: 80px;
}

div[class*="checkbox-container"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px 10px 5px 0px;
  padding: 8px 12px;
  border-radius: 20px;
  width: 90px;
  height: 40px;
  position: relative;
}

div[class*="checkbox-container"] input[type="checkbox"]:not(:checked), div[class*="checkbox-container"] input[type="checkbox"]:checked {
  cursor: pointer;
  position: absolute;
  margin: 0;
  z-index: 7;
  opacity: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: scaleX(37) scaleY(2.5);
          transform: scaleX(37) scaleY(2.5);
}

div[class*="checkbox-container"] .ghost-check {
  border: 2px solid black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  border-radius: 20px;
}

div[class*="checkbox-container"] label {
  position: absolute;
  z-index: 3;
  color: black;
  font-weight: 500;
}

.checkbox-container-Running:hover {
  background-color: pink !important;
}

.checkbox-container-Running:hover > .ghost-check {
  border: none;
}

.checkbox-container-Running:hover > label {
  color: white;
}

.checkbox-container-Running input[type="checkbox"]:checked ~ .ghost-check {
  background-color: pink !important;
  border: none;
}

.checkbox-container-Running input[type="checkbox"]:checked ~ label {
  color: white;
}

.checkbox-container-Futsal:hover {
  background-color: yellow !important;
}

.checkbox-container-Futsal:hover > .ghost-check {
  border: none;
}

.checkbox-container-Futsal:hover > label {
  color: black;
}

.checkbox-container-Futsal input[type="checkbox"]:checked ~ .ghost-check {
  background-color: yellow !important;
  border: none;
}

.checkbox-container-Futsal input[type="checkbox"]:checked ~ label {
  color: black;
}

.checkbox-container-Workout:hover {
  background-color: palevioletred !important;
}

.checkbox-container-Workout:hover > .ghost-check {
  border: none;
}

.checkbox-container-Workout:hover > label {
  color: white;
}

.checkbox-container-Workout input[type="checkbox"]:checked ~ .ghost-check {
  background-color: palevioletred !important;
  border: none;
}

.checkbox-container-Workout input[type="checkbox"]:checked ~ label {
  color: white;
}

.checkbox-container-Climbing:hover {
  background-color: purple !important;
}

.checkbox-container-Climbing:hover > .ghost-check {
  border: none;
}

.checkbox-container-Climbing:hover > label {
  color: white;
}

.checkbox-container-Climbing input[type="checkbox"]:checked ~ .ghost-check {
  background-color: purple !important;
  border: none;
}

.checkbox-container-Climbing input[type="checkbox"]:checked ~ label {
  color: white;
}

.checkbox-container-Tennis:hover {
  background-color: darkblue !important;
}

.checkbox-container-Tennis:hover > .ghost-check {
  border: none;
}

.checkbox-container-Tennis:hover > label {
  color: white;
}

.checkbox-container-Tennis input[type="checkbox"]:checked ~ .ghost-check {
  background-color: darkblue !important;
  border: none;
}

.checkbox-container-Tennis input[type="checkbox"]:checked ~ label {
  color: white;
}
/*# sourceMappingURL=map.css.map */