#map {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

#map-event {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

.marker {
  background-image: url('pointer.png');
  background-size: cover;
  width: 30px;
  height: 53px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
max-width: 200px;

}

.mapboxgl-popup-content {
  padding: 20px 25px 20px 15px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  h2{
    font-size: 1.1rem;
    font-family: var(--black-font);
  }

  h3{

  }
}