#map {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

#map-event {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 10px;
}

.marker {
  background-image: url('pointer.png');
  background-size: cover;
  width: 30px;
  height: 53px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
max-width: 200px;

}

.mapboxgl-popup-content {
  padding: 20px 25px 20px 15px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;

  h2{
    font-size: 1.1rem;
    font-family: var(--black-font);
  }
}

.wrapper-container{
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;

  @media screen and (max-width: 700px){


}
}

div[class*="checkbox-container"]{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: fit-content;
  margin:0px 10px 5px 0px;
  padding: 8px 12px;
  border-radius: 5px;
  width: 75px;
  height: 35px;
  position: relative;
  font-size: small;

  input[type="checkbox"]:not(:checked), input[type="checkbox"]:checked{
     cursor: pointer;
     position: absolute;
     margin: 0;
     z-index: 7;
     opacity: 0;
     width: fit-content;
     transform: scaleX(37) scaleY(2.5);
  }
  
  .ghost-check{
     border: 2px solid black;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 0;
     border-radius: 5px;
  }

  label{
     position: absolute;
     z-index: 3;
     color: black;
     font-weight: 500;
  }
}

.checkbox-container-Running {
  &:hover{
     background-color: var(--bg_running) !important;
  }
  &:hover > .ghost-check{
     border : none;
  }
  &:hover > label{
     color: white;
  }
  input[type="checkbox"]:checked ~ .ghost-check{
     background-color: var(--bg_running) !important;
     border: none;
  }
  input[type="checkbox"]:checked ~ label{
     color: rgb(var(--text_running));
  }
}

.checkbox-container-Futsal {
  &:hover{
     background-color: var(--bg_futsall)  !important;
  }
  &:hover > .ghost-check{
     border : none;
  }
  &:hover > label{
     color: white;
  }
  input[type="checkbox"]:checked ~ .ghost-check{
     background-color: var(--bg_futsall)  !important;
     border: none;
  }
  input[type="checkbox"]:checked ~ label{
     color: rgb(var(--text_futsall));
  }
}

.checkbox-container-Workout {
  &:hover{
     background-color: var(--bg_workout) !important;
  }
  &:hover > .ghost-check{
     border : none;
  }
  &:hover > label{
     color: white;
  }
  input[type="checkbox"]:checked ~ .ghost-check{
     background-color: var(--bg_workout) !important;
     border: none;
  }
  input[type="checkbox"]:checked ~ label{
     color: rgb(var(--text_workout));
  }
}

.checkbox-container-Climbing {
  &:hover{
     background-color: var(--bg_climbing) !important;
  }
  &:hover > .ghost-check{
     border : none;
  }
  &:hover > label{
     color: white;
  }
  input[type="checkbox"]:checked ~ .ghost-check{
     background-color: var(--bg_climbing) !important;
     border: none;
  }
  input[type="checkbox"]:checked ~ label{
     color: rgb(var(--text_climbing))
  }
}

.checkbox-container-Tennis {
  &:hover{
     background-color: var(--bg_tennis) !important;
  }
  &:hover > .ghost-check{
     border : none;
  }
  &:hover > label{
     color: white;
  }
  input[type="checkbox"]:checked ~ .ghost-check{
     background-color: var(--bg_tennis) !important;
     border: none;
  }
  input[type="checkbox"]:checked ~ label{
     color: rgb(var(--text_tennis));
  }
}
