.navbar{
   width: 290px;
   height :100vh;
   background-color: rgb(var(--white));
   display: flex;
   justify-content: space-between;
   flex-wrap: nowrap;
   flex-direction: column;
   position: fixed;
   top: 0px;
   left: 0px;
   transition: all 0.3s ease;
   overflow-y: hidden;

   @media screen and (max-width: 800px) {
      width: 80px;
   }
}

.rond {
   display: flex;
   justify-content: center;
   align-items:center;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 15px;
   border: 3px solid rgb(230, 109, 109);
   font-size:1.6rem;

   @media screen and (max-width: 800px) {
      margin-left: 9px;
   }
 }

 .rond-small {
   display: flex;
   justify-content: center;
   align-items:center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 5px;
   border: 2px solid rgb(230, 109, 109);
   font-size:1.6rem;
   vertical-align: middle;

 }

.ghost-div{
   min-width: 290px;
   height :100vh;
   display: block;
   transition: all 0.3s ease;

   @media screen and (max-width: 800px) {
      min-width: 80px;
   }
}


.menu{
   position: relative;
   display: flex;
   flex-direction: column;
   padding-left: 37px;
}

.menu a {
   padding: 18px 0px 18px 19px;
   text-decoration: none;
   color: var(--text_grey);
   transition: .3s;
   margin-bottom: 18px;
   width: fit-content;
   min-width: 195px;
   border-radius: 7px;
   font-size: var(--Xlittle);

   @media screen and (max-width: 800px) {
      min-width: 75px;
      max-height: 58px;
   }

   &:hover{
      background-color: rgba(var(--purple), 0.05);

      @media screen and (max-width: 800px) {
         min-width: 75px;
         max-height: 58px;
      }
   }
}

.menu a[aria-selected]{
   color: rgb(var(--purple));
   background-color: rgba(var(--purple), 0.05);
   position:relative;
   font-size: var(--Xlittle);
   @media screen and (max-width: 800px) {

   }


}

// .indicator{
//    top:0px;
//    left:0;
//    position: absolute;
//    height: 100px;
//    width: 6px;
//    background-color:rgb(var(--purple));
//    border-radius: 4px;
//    transform-origin: 0 0;
// }


.separate-div{
   border: 1px solid #ececec;
   width : 220px;
   margin-bottom: 20px;   

   @media screen and (max-width: 800px) {
      display: none;
   }
}

.nav-down{
   display: flex;
   flex-direction: column;
   padding-left: 37px;
   padding-bottom: 60px;
   justify-content: flex-end;
   margin-left: 10px;


   @media screen and (max-width: 800px) {
      padding-left: 0px;
   }
}

.bottom-link{
   padding: 10px 0px;
   position: relative;
   margin-bottom: 8px;

   @media screen and (max-width: 800px) {

   }

   a{
      @media screen and (max-width: 800px) {
         opacity: 0;
         position: absolute;
         top: -20px;
         left: -30px;
         font-size: 0.8rem !important;
      }
   }
}

.nav-down a{
   padding: 18px 0px 18px 19px;
   text-decoration: none;
   color: var(--text_grey);
   justify-content: space-between;
   width: fit-content;
   font-size: var(--Xlittle);
}


.user-name{
   padding: 30px 0px 10px 37px;
   display: flex;
   align-items: center;
   margin-bottom: 30px;


}

.user-name span{
   font-family: var(--black-font);
   font-size: 1.5rem;

   @media screen and (max-width: 800px) {
      display: none;;
   }

   a{
      font-family: var(--black-font);
      font-size: 1.5rem;
      color: black;

      &:hover{
         text-decoration: underline;
      }
   }
}

.span-indicator1{
   width:6px; 
   height:58px; 
   background-color:rgb(var(--purple)); 
   position:absolute; 
   top:0; 
   left:-54px; 
   border-radius: 4px; 
   transition: all 0.3s ease;

   @media screen and (max-width: 800px) {
      left:-5px;
   }
}

