// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.wrapper-not-meteo{
   display: flex;
   gap: 30px;


   .notification-card{
      height: 100%;
      flex: 3;
   }

   .meteo-card{
      flex: 7;
      height: 100%;
   }
}

.wrapper-performance{

   .tabs-items{
      flex: 1;
      margin-top: 35px;

      
      button{
         color: black;
         text-align: start;

      }

      button.active{
         background-color: var(--bg_running);
         color: rgb(var(--text_running));
      }
   }
    .tabs-content{
      flex:9
    }
}

.performance-show-items{
   display: flex;
   gap: 20px;
   justify-content: space-evenly;

   .performance-show-item{
      display: flex;
      flex-direction: column;
      justify-content: center;

      .performance-show-title{

         
      }
      .performance-show-data{
         font-size: 1.875rem;
         font-family: var(--black-font);
         color: #454545;

      }
   }
}

.perf-divide{
   width: 1px;
   height: 80px;
   background-color: var(--border-grey);
}


