<div class="performance-show-items">
    <div class="performance-show-item">
      <p class="performance-show-title"> Experience </p>
      <p class="performance-show-data"> <%= user.tennis_exp%> ans </p>
    </div>
    <div class="perf-divide"> </div>
    <div class="performance-show-item">
      <p class="performance-show-title"> Frequence </p>
      <p class="performance-show-data"> <%= user.tennis_freq %> /sem  </p>
    </div>
    <div class="perf-divide"> </div>
    <div class="performance-show-item">
      <p class="performance-show-title"> Rang </p>
      <p class="performance-show-data"> <%= user.last_tennis_perf.rank %>  </p>
    </div>
</div>