.user-primary-info{
   display: flex;
   flex-direction: row;
   gap: 30px;
   align-items: center;

   .user-primary-image{
      img{

         max-height: 140px;
         min-height: 140px;
         max-width: 140px;
         min-width: 140px;
         object-fit: cover;
         border-radius: 50%;
         border: 3px solid orange;
      }
   }

   .user-primary-content{
      display: flex;
      flex-direction: column;
      gap: 8px;
   }
}