.user-primary-info{
   display: flex;
   flex-direction: row;
   gap: 30px;
   align-items: center;

   .user-primary-image{
      img{
         width: 140px;
      }
   }

   .user-primary-content{
      display: flex;
      flex-direction: column;
      gap: 8px;
   }
}