// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.notif-collapse{
height: 100% !important;
max-height: 100% !important;

}

.reverse-arrow{
   transform: rotate(180deg);
   margin-bottom: 10px;
}

.wrapper-not-meteo{
   display: flex;
   gap: 30px;

   @media screen and (max-width: 1150px) {
      display: flex;
      flex-direction: column;
      gap:0px
   }


   .notification-card{
      height: 163px;
      flex: 6;
      position: relative;
      overflow: hidden;

      @media screen and (max-width: 1150px) {
         max-height: 163px ;
      }

      .read-all{
         position: absolute;
         right: 0px;
         bottom: 9px;
         font-size: 0.9rem;
         color: rgb(var(--purple));
         font-family: var(--bold-font);
         cursor: pointer;

         &:hover{
            text-decoration: underline;
         }
      }
      
      ul{
         margin-bottom: 20px;
      }

      .notif-list{
         margin: 0px 0px 5px 0px;
         line-height: 26px;

         i{
            color: var(--text-grey);
         }

      }

      .arrow{
         position: absolute;
         bottom: 0px;
         cursor: pointer;
         background-color: var(--white);
         width: 90%;
         height: 28px;
         display: flex;
         justify-content: center;

         i{
            margin: 0;
            padding: 0;
         }
      }
   }

   .meteo-card{
      flex: 5;
      height: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 70px;
      i{
         color: #454545;
      }

      .temp-wrapper{
         display: flex;
         flex-direction: row;
         align-items: center;
      }

      .temp-para{
         display: flex;
         align-items: flex-start;
         flex-direction: row;
         font-size: 2rem;
      }

      .temp-img{
         position: relative;
         img{
            width: 70px;
            &:nth-child(2){
               position: absolute;
               right: 4px;
               top: 22px;
               width: 50px;
            }
         }
      }

      .temp{
         font-family: var(--black-font);
         font-size: var(--big);

      }

      div{
         display: flex;
         flex-direction: column;
         gap: 7px;
      }
   }
}

.wrapper-performance{

   .tabs-items{
      flex: 1;
      margin-top: 35px;

      
      button{
         color: var(--black);
         text-align: start;

      }

      button.active{
         background-color: var(--bg_running);
         color: rgb(var(--text_running));
      }
   }
    .tabs-content{
      flex:9
    }
}

.performance-show-items{
   display: flex;
   gap: 20px;
   justify-content: space-evenly;

      @media screen and (max-width: 1180px) {
         flex-wrap: wrap;
      }

      @media screen and (max-width: 900px) {
         flex-direction: column;
      }

   .performance-show-item{
      display: flex;
      flex-direction: column;
      justify-content: center;

      .performance-show-data{
         font-size: 1.875rem;
         font-family: var(--black-font);
         color: #454545;

      }
   }
}

.perf-divide{
   width: 1px;
   height: 80px;
   background-color: var(--border-grey);

   @media screen and (max-width: 1180px) {
      display: none;;
   }
}


