<%if user.last_climbing_perf %>
<p>Il fait de l'escalade</p>
<ul>
  <li> Experience : <%= user.climbing_exp%> ans </li>
  <li> Frequence : <%= user.climbing_freq%> seances par semaines </li>
  <li> Il a un niveau:   <%= user.last_climbing_perf.level %></li>
  <li> Il parcours des pistes :  <%= user.last_climbing_perf.block_color %></li>
</ul>
<%end%>