<div class="card" >
  <p class="card-title"> Profil </p>
  <p class="card-icon"> <i class="fa-solid fa-pen-to-square" ></i> </p>
  <br>
  <div class="input">
    <p>Ton email : <%=current_user.email%></p>
  </div>

  <div class="input">
    <%=link_to "Modifier mon compte" , edit_user_registration_path , class: "button primary"%>
  </div>
  <br>
</div>
