<div class="modal-dialog modalmain modalpop2" role="document" id="modalId2">
   <div class="modal-content">
   <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"> 1️⃣ Rentres tes informations personnelles</h5>
   </div>
   <div class="modal-body">
      <p class="mb-4 text-center" style="font-family:var(--bold-font)"> Renseignes ton prénom, ton nom, ta description, ta ville et une adresse valide </p>
      <p class="mb-2"> <i class="fa-solid fa-circle-info"></i> Ces informations te permettront de retrouver tout les évènements sportifs qui se déroulent autour de toi ! </p>
   </div>
   <div class="modal-footer">
      <button type="button" class="button primary" onclick="closeModal2()" id="closeBtn"> Suivant</button>
   	</div>
   	</div>
<%= image_tag "arrow.png" %>
</div>