<div class="modal-dialog modalmain modalpop3" role="document" id="modalId3">
   <div class="modal-content">
   <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"> 2️⃣ Sport et performances</h5>
   </div>
   <div class="modal-body">
      <p class="mb-4 text-center" style="font-family:var(--bold-font)"> Dans cet onglet, ajoutes tes sports favoris et renseignes tes performances   </p>
      <p class="mb-2"> <i class="fa-solid fa-circle-info"></i> Ces informations te permettront d'ajouter des sportifs ayant les mêmes performances physique que toi ! </p>
   </div>
   <div class="modal-footer">
      <button type="button" class="button primary" onclick="closeModal3()" id="closeBtn">J'ai compris !</button>
   	</div>
   	</div>
      <%= image_tag "arrow.png" %>
</div>