<div class="top-element">
        <div class="twins">
          <h1 class="title">Reset Password</h1>
          <hr class ="width-lign title-lign">
        </div>  
           <p class ="under-title"> Renseignes ton email pour recevoir le lien de réinitialisation.</p>
      </div>