<div class="event-container form-container"> 
  <%= render 'image' %>
  <div class="event-container-left form-container-right"> 
    <%= render 'top_edit_element' %>
    <%= render partial: 'form_edit', locals:{ event: @event, cities: @cities, sports: @sports} %>
  </div>
</div>