<%=render 'events_around'%>

<div class="card">
  <p class="card-title"> Fait vivre la communauté en organisants des propres events </p>
  <p class="card-icon"> <i class="fa-solid fa-calendar-plus"></i></i> </p> 
  <div class="container-geoloc">
    <div class="list-container">
      <div class="container">
        <h2> Tes evenements : </h2>
        <%= render partial: 'event_list', locals: {events: @current_user_events}%>
      </div>
    </div>
  </div>
  <%= link_to 'New Event', new_event_path %>
</div>
