<div class="event-container form-container"> 

   <%= render 'image' %>
  <div class="event-container-left form-container-right"> 
      <%= render 'top_create_element' %>
      <%= render 'choose_picture' %>
      <%= render partial: 'form_create', locals:{ event: @event, cities: @cities, sports: @sports} %>
   </div>
</div>
