<div class="event-container form-container"> 

   <%= render 'image' %>
  <div class="event-container-left form-container-right"> 
      <%= render 'top_element' %>

      <%= render partial: 'form', locals:{ event: @event, cities: @cities, sports: @sports} %>
   </div>
</div>
