<div class="show-event-container form-container">

  <%= render 'show_image' %>

  <div class="right-container right-content">
    <%= render 'show_title' %>

    <p id="notice"><%= notice %></p>

    <%= render 'show_info' %>
    
  </div>
</div>