<h1>Bonjour cher visiteur</h1>
<p>Welcome sur de Fit Feat</p>
<p>Comment ça va?</p>
<p>Ton message a bien été envoyé : </p>
<p><%=@message%></p>
<p>Incris-toi vite sur le site pour voir ce qu'il s'y passe !</p>
<!-- <a href="<%= @url %>">Clique ici pour t'inscrire</a> -->
<%= link_to "Clique ici pour t'inscrire", new_user_registration_url %>
