.container-geoloc{
   display: flex;
}

.mapbox-container{
   flex: 7;
}

.list-container {
   flex : 4;

   .scrollable-list{
      height: 300px; 
      overflow:hidden; 
      overflow-y:scroll
   }
}