.container-friend-suggestion{
   display: flex;
   gap: 20px;
   margin-top: 30px;

}

.container-suggestions-list{
   flex: 5;

}
.suggest-friends{
   display: flex;
   justify-content: space-between;
   align-items: center;

}