.form-container{
   display: flex;
   flex-direction: row;
   width: 100vw;
   height: 100vh;
}

   .form-container-left{
      flex: 6;
      width: 100%;
      height: 100%;
      border: 15px solid var(--grey-bg);
      box-sizing: border-box;

      .img-fluid{
         width: 100%;
         height: 100%;
         border-radius: 8px;
         background: url(https://images.unsplash.com/photo-1526506118085-60ce8714f8c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
         background-size: 100%;
         background-repeat: no-repeat;
         object-fit: cover;  
      }
   }
   .form-container-right{
      display: flex;
      flex: 4;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;

      .right-content{
         display: flex;
         flex-direction: column;
         gap: 20px;
         width: fit-content;

         .top-element{
            display: flex;
            flex-direction: column;
            gap: 5px;

           

            .under-title{
               font-family: var(--medium-font);
               color: var(--text-grey);
               width: 80%;
            }
         }
         .middle-element{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 100%;
   
            .middle-content-email{
               margin-bottom: 15px;
            }
           
            .middle-content-password{
               margin-bottom: 15px;

            }  
            
            .forgot-your-password{
               display: flex;
               justify-content: flex-start; 
               text-decoration: none;
               color: rgb(var(--purple));
               margin-top: -14px;

               &:hover{
                  opacity: 0.8;
               }
             }

            .checkbox{
               display: flex;
               justify-content: flex-start;
               align-items: center;

               label{
                  margin-left: 10px;
               }
            }
         }

      }
   }

   .twins{
      position: relative;
      width: fit-content;


      .title{
         font-family: var( --bold-font);
         z-index: 1;
         width: fit-content;
      }

      .title-lign{
         position: absolute;
         top: 33px;
         width: 260px;
         height: 10px;
         padding: 0;
         margin: 0;
         background: var(--orange);
         z-index: -1;
      }
   }

   .bottom{
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .action{
         display: flex;
         flex-direction: column;
         align-items: center;

         .under-button{
            display: flex;
            flex-direction: row;
            padding: 10px;

            a{
               color: rgb(var(--purple));
            }

            .subscribe{
               justify-content: flex-start;
               text-decoration: none;
               margin-top: 5px;

               &:hover{
                  opacity: 0.8;
               }
            }
         }
      } 
   }