<div class="top-element">
        <div class="twins">
          <h1 class="title">Welcome back</h1>
          <div class ="title-lign"> </div>
        </div>  
           <p class ="under-title"> Connecte toi à ton compte pour voir tes amis et tes performances sportives</p>
 </div>