
<div class=" form-container">

  <%= render 'image' %>

  <div class="form-container-right">

    <div class="right-content"> 
      <%= render 'top_element' %>
      
        <%= render 'form_element' %>
    </div>    
  </div>
</div>