.container-geoloc{
   display: flex;
   height: 100%;

   @media screen and (max-width: 1300px){
      flex-direction: column;
      gap: 20px;

   }

   .user-list{
      margin-bottom: 8px;
   }
}

.mapbox-container{
   flex: 7;

   @media screen and (max-width: 1300px){
      flex: 5;
      min-height: 400px;
      min-width: 100%;

   }
   @media screen and (max-width: 600px){
      flex: 0;
      min-height: 300px;
      min-width: 350px;
      max-width: 350px;
      width: 350px;

   }
}

.list-container {
   flex : 4;

   @media screen and (max-width: 1300px){
     flex: 5;

   }

}

.scrollable-list{
   height: 400px; 
   overflow:hidden; 
   overflow-y:scroll
}