.footer-lp{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background: var(--black);
   color: var(--grey);
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top: 20px;
}

.contain-lp{
   display: flex;
   margin-top: 10px;
}

.title-alone{
   position: relative;
   right: 150px;
   top: -5px;
}

.cowl{
   justify-content: space-between;
   padding: 10px 150px;

   ul{
      padding: 0px;
   }

   li{
      padding: 5px;
      font-style: var(--medium-font);
      color: var(--text-grey);
   }

}

