<p id="notice"><%= notice %></p>

<div class="city-container form-container">

    <div class="picture-container form-container-left">
      <div class="city-img img-fluid"></div>
    </div>



<div class="card-container form-container-right">  
    <div class="top-element">
        <div class="twins">
          <h1 class="title"> Villes</h1>
          <div class="title-lign"></div>
        </div>  
    </div>

    <% @cities.each do |city| %>

    <div class="card"> 

      <div class="card-body">
          
          
          <div class="card-title">
          <%= city.name %>
          </div>

          <%= link_to 'Voir les infos', city, class:'button primary' %>

      </div>
      
    </div> 
      <% end %>
  </div>     
</div>

<!-- <%= link_to 'New City', new_city_path %> -->
