// Place all the styles related to the avatars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-avatar{
   width: 25px;
   height: 25px;
   border-radius: 50%;
   object-fit: cover;
   border: 2px solid rgb(241, 170, 37);
   box-sizing: border-box;
}

.avatar-plus{
   margin-left: 13px;
   color: var(--text-grey);
}

.change-avatar{
   display: flex;
   align-items: center;
   gap: 10px;
   margin-bottom: 30px;

   img{
      border-radius: 50%;
      min-width: 70px;
      min-height: 70px;
      max-width: 70px;
      max-height: 70px;
      object-fit: cover;
      border: 3px solid var(--orange);
   }

   form{
      display: flex;
      flex-direction: column;
      width: fit-content;
      gap: 3px;
      justify-content: flex-start;
      align-items: flex-start;
   }
   

   label{
      cursor: pointer;
      padding: 6px 11px 6px 10px;
      border-radius: 10px;
      color:rgba(var(--purple), 0.9) ;
      border: 1px dashed rgba(var(--purple), 0.9);
      box-sizing: border-box;
      font-size: var(--Xlittle);

      &:hover{
         background-color: rgba(var(--purple), 0.9);
         color: white;
      }
   }

   input[type=file]{
      display: none;
   }

   input[type=submit]{
     border-style: none;
     background-color: transparent;
     color: rgb(var(--purple));
     text-decoration: underline;
     display: none;
   }
}