<div class="wrapper-not-meteo">
   <div onclick="openNotif()" class="notification-card card" id="notif-card">
      <p class="card-title"> Notifications </p>
      <p class="card-icon"> <i class="fa-solid fa-bell"></i> </p> 
      <%if @user_notifications.present?%>
      <div class="indicator-notif"> <%= @user_notifications.length%>  </div>
      <%end%>
      <% if @user_notifications.empty?%>
         <p> Tu n'as pas de notifications. </p>
      <%else%>
         <ul>
            <% @user_notifications.each do |notification|%>
            <li class="notif-list" > <i class="fa-solid fa-envelope"></i> <%= notification.content %></li>
            <%end%>
         </ul>
         <%= link_to notification_path, method: :patch, remote: true do %>
         <div class="arrow" id="arrow-btn"> <i class="fa-solid fa-angle-down"></i> </div>
         <%end%>
      <%end%>
   </div>
   <div class="meteo-card card">
      <p class="card-title"> Météo </p>
      <p class="card-icon"> <i class="fa-solid fa-cloud-sun"></i> </p>
       <h2 id="city-name">  <%= @user.city.name%> </h2>
       <p> Température : <span class="temp"> </span>° </p>
       <p> Humidité : <span class="hum"> </span>% </p>
       <p> Nuages : <span class="clouds"> </span>%</p>
   </div>
</div>