<div class="wrapper-not-meteo">
<div class="notification-card card">
   <p class="card-title"> Notifications </p>
   <p class="card-icon"> <i class="fa-solid fa-bell"></i> </p> 
   Ici tes notifications
</div>
<div class="meteo-card card"> Ici ta méteo
   <p class="card-title"> Météo </p>
   <p class="card-icon"> <i class="fa-solid fa-cloud-sun"></i> </p>
</div>
</div>