
<p>Il fait du tennis</p>
<ul>
  <li> Experience : <%= user.tennis_exp %> ans </li>
  <li> Frequence : <%= user.tennis_freq %> seances par semaines </li>
  <li> Il a le rang : <%= user.last_tennis_perf.rank %></li>
</ul>
